.formulario{
    padding: 20px 120px;
    padding-top: 25px;
    margin: 70px auto;
    max-width:70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: #212121;
}
.button-enviar{
    max-width: 80%;    
    margin: 50px auto;
}
.button-enviar button{
    background-color: #212121;
    border-radius: 10px;
    border-color: #212121;
}
.text-muted{
    color: #FF0000 !important;
}

@media (max-width: 992px){
    .formulario {
        padding: 10px 100px;
        padding-top: 25px;
        margin: 50px auto;
    }
}

@media (max-width: 768px){
    .formulario {
        padding: 0px 50px;
        padding-top: 25px;
        margin: 40px auto;
        max-width:90%;
    }
}

@media (max-width: 576px){
    .formulario {
        padding: 0px 15px;
        padding-top: 25px;
        margin: 60px auto;
        max-width:100%;
    }
}

@media (max-width: 330px){
    .formulario {
        padding: 0px 10px;
        padding-top: 25px;
        margin: 60px auto;
        max-width:100%;
    }
}

@media (max-width: 329px){
    .formulario {
        padding: 20px 120px;
        padding-top: 25px;
        margin: 70px auto;
        max-width:70%;
    }
}

